/node_modules
/public/hot
/public/imagenes/articulos
/public/imagenes/logos
/public/imagenes/categorias
/public/imagenes/carrusel
/public/storage
/public/fichas
/public/facccf
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache